# Build directories
build/
build_tests/
bin/
obj/
*.elf
*.bin
*.hex
*.map
*.o
*.obj

# Coverage temp files
*.gcov
*.gcda
*.gcno

# IDE specific files
*.suo
*.user
*.user*
*.la

# OS files
Thumbs.db
Desktop.ini
.DS_Store
